Step 1 - Data Engineering
    The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.
    Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.
    Use Pandas to read in the measurement and station CSV files as DataFrames.
    Inspect the data for NaNs and missing values. You must decide what to do with this data.
    Save your cleaned CSV files with the prefix clean_.

In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
csv_path1="Resources/data/hawaii_measurements.csv"

In [4]:
parse_dates=['date']

In [5]:
hm=pd.read_csv(csv_path1,encoding="utf-8",parse_dates=parse_dates)

In [6]:
hm.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [7]:
hm.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [8]:
hm.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [9]:
hm['prcp']=hm['prcp'].fillna(0)

In [10]:
hm.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [18]:
hm.head(356)

         station       date  prcp  tobs
0    USC00519397 2010-01-01  0.08    65
1    USC00519397 2010-01-02  0.00    63
2    USC00519397 2010-01-03  0.00    74
3    USC00519397 2010-01-04  0.00    76
4    USC00519397 2010-01-06  0.00    73
5    USC00519397 2010-01-07  0.06    70
6    USC00519397 2010-01-08  0.00    64
7    USC00519397 2010-01-09  0.00    68
8    USC00519397 2010-01-10  0.00    73
9    USC00519397 2010-01-11  0.01    64
10   USC00519397 2010-01-12  0.00    61
11   USC00519397 2010-01-14  0.00    66
12   USC00519397 2010-01-15  0.00    65
13   USC00519397 2010-01-16  0.00    68
14   USC00519397 2010-01-17  0.00    64
15   USC00519397 2010-01-18  0.00    72
16   USC00519397 2010-01-19  0.00    66
17   USC00519397 2010-01-20  0.00    66
18   USC00519397 2010-01-21  0.00    69
19   USC00519397 2010-01-22  0.00    67
20   USC00519397 2010-01-23  0.00    67
21   USC00519397 2010-01-24  0.01    71
22   USC00519397 2010-01-25  0.00    67
23   USC00519397 2010-01-26  0.04    76
24   USC00519397 2010-01-27  0.12    68
25   USC00519397 2010-01-28  0.00    72
26   USC00519397 2010-01-30  0.00    70
27   USC00519397 2010-01-31  0.03    67
28   USC00519397 2010-02-01  0.01    66
29   USC00519397 2010-02-03  0.00    67
..           ...        ...   ...   ...
326  USC00519397 2010-12-28  0.55    71
327  USC00519397 2010-12-29  0.06    75
328  USC00519397 2010-12-30  0.01    75
329  USC00519397 2010-12-31  0.00    72
330  USC00519397 2011-01-01  0.00    69
331  USC00519397 2011-01-02  0.00    72
332  USC00519397 2011-01-03  0.00    74
333  USC00519397 2011-01-04  0.00    73
334  USC00519397 2011-01-05  0.00    64
335  USC00519397 2011-01-06  0.01    65
336  USC00519397 2011-01-07  0.00    68
337  USC00519397 2011-01-08  0.00    62
338  USC00519397 2011-01-09  0.00    58
339  USC00519397 2011-01-10  0.00    73
340  USC00519397 2011-01-11  0.09    60
341  USC00519397 2011-01-13  0.00    68
342  USC00519397 2011-01-14  0.03    76
343  USC00519397 2011-01-15  0.00    68
344  USC00519397 2011-01-16  0.00    66
345  USC00519397 2011-01-17  0.00    64
346  USC00519397 2011-01-18  0.00    64
347  USC00519397 2011-01-19  0.03    64
348  USC00519397 2011-01-20  0.00    76
349  USC00519397 2011-01-21  0.00    75
350  USC00519397 2011-01-22  0.00    68
351  USC00519397 2011-01-23  0.00    68
352  USC00519397 2011-01-24  0.00    72
353  USC00519397 2011-01-25  0.00    63
354  USC00519397 2011-01-27  0.00    68
355  USC00519397 2011-01-28  0.00    75

[356 rows x 4 columns]

In [12]:
hm.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [13]:
hm.to_csv("Resources/data/clean_hawaii_measurements.csv",index=)

In [14]:
csv_path2="Resources/data/hawaii_stations.csv"

In [15]:
hs=pd.read_csv(csv_path2,encoding='utf-8')

In [16]:
hs.head(10)

,station,name,latitude,longitude,elevation,location
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0,POINT(21.2716 -157.8168)
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6,POINT(21.4234 -157.8015)
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0,POINT(21.5213 -157.8374)
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9,POINT(21.3934 -157.9751)
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6,POINT(21.4992 -158.0111)
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5,POINT(21.33556 -157.71139)
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9,POINT(21.45167 -157.84889)
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9,POINT(21.3152 -157.9992)
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4,POINT(21.3331 -157.8025)

In [17]:
hs.to_csv("Resources/data/clean_hawaii_stations.csv")