Step 2 - Database Engineering Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations. Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work. Use Pandas to read your cleaned measurements and stations CSV data. Use the engine and connection string to create a database called hawaii.sqlite. Use declarative_base and create ORM classes for each table. You will need a class for Measurement and for Station. Make sure to define your primary keys. Once you have your ORM classes defined, create the tables in the database using create_all.

In [1]:
import pandas as pd

from sqlalchemy import Column, Integer, String, Float

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.orm import Session

In [3]:
csv_path1="Resources/data/hawaii_measurements.csv"

In [4]:
parse_dates=['date']

In [5]:
hm=pd.read_csv(csv_path1,encoding="utf-8",parse_dates=parse_dates)

In [6]:
hm.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [7]:
hm['prcp']=hm['prcp'].fillna(0)

In [8]:
hm.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06  0.00    73

In [9]:
hm.to_csv("Resources/data/clean_hawaii_measurements.csv")

In [10]:
csv_path2="Resources/data/clean_hawaii_measurements.csv"

In [11]:
chm=pd.read_csv(csv_path2,encoding="utf-8",parse_dates=parse_dates)

In [12]:
chm.head()

   Unnamed: 0      station       date  prcp  tobs
0           0  USC00519397 2010-01-01  0.08    65
1           1  USC00519397 2010-01-02  0.00    63
2           2  USC00519397 2010-01-03  0.00    74
3           3  USC00519397 2010-01-04  0.00    76
4           4  USC00519397 2010-01-06  0.00    73

In [13]:
chm=chm.rename(columns={"Unnamed: 0":"id"})

In [14]:
chm.head()

   id      station       date  prcp  tobs
0   0  USC00519397 2010-01-01  0.08    65
1   1  USC00519397 2010-01-02  0.00    63
2   2  USC00519397 2010-01-03  0.00    74
3   3  USC00519397 2010-01-04  0.00    76
4   4  USC00519397 2010-01-06  0.00    73

In [15]:
chm.to_csv("Resources/data/cleaned_hawaii_measurements.csv", index=True)

In [16]:
csv_path3="Resources/data/cleaned_hawaii_measurements.csv"

In [17]:
csv_path4="Resources/data/clean_hawaii_stations.csv"

In [18]:
chs=pd.read_csv(csv_path4,encoding="utf-8")

In [19]:
chs.head(10)

,Unnamed: 0,station,name,latitude,longitude,elevation,location
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0,POINT(21.2716 -157.8168)
1,1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6,POINT(21.4234 -157.8015)
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0,POINT(21.5213 -157.8374)
3,3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9,POINT(21.3934 -157.9751)
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6,POINT(21.4992 -158.0111)
5,5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5,POINT(21.33556 -157.71139)
6,6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9,POINT(21.45167 -157.84889)
7,7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9,POINT(21.3152 -157.9992)
8,8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4,POINT(21.3331 -157.8025)

In [20]:
chs=chs.rename(columns={"Unnamed: 0":"id"})

In [21]:
chs.head()

,id,station,name,latitude,longitude,elevation,location
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)

In [22]:
chs.to_csv("Resources/data/cleaned_hawaii_stations.csv",index=True)

In [23]:
csv_path5="Resources/data/cleaned_hawaii_stations.csv"

In [24]:
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base()

In [25]:
class Measurement(Base):
    __tablename__ = "measurement"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Integer)
    prcp = Column(Float)
    tobs = Column(Integer)

In [26]:
class Station(Base):
    __tablename__="station"
    id=Column(Integer,primary_key=True)
    station=Column(String(255))
    name=Column(String(255))
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)
    location=Column(String(255))

In [27]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

In [28]:
engine = create_engine("sqlite:///hawaii.sqlite")

Base.metadata.create_all(engine)
session=Session(bind=engine)

In [29]:
Base=automap_base()

In [30]:
Base.prepare(engine, reflect=True)

In [31]:
Base.classes.keys()

['measurement', 'station']

In [32]:
inspector = inspect(engine)

In [33]:
inspector.get_table_names()

['measurement', 'station']

In [34]:
chm.to_sql('measurement', engine,if_exists='append',index=False)

In [35]:
chs.to_sql('station', engine,if_exists='append',index=False)

In [36]:
Base=automap_base()

In [37]:
Base.prepare(engine, reflect=True)

In [38]:
Base.classes.keys()

['measurement', 'station']